<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href= "/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Poke-lab</h1>
    <form action="/pokemon" method="POST">
    Name: <input type="text" name="name">
    Image Url: <input type="text" name="img">
    <button type="submit">put the test in the tubes</button>
    </form>

    
</body>
</html>